window {
  background-color: rgba (30, 30, 46, 1);
  border-radius: 10px;
  font-family: sans-serif;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
  margin: 5px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
  background-color: rgba (30, 30, 46, 0.85);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba (137, 180, 250, 0.7);
  padding: 5px;
  margin: 5px;
}

button,
image {
  background: none;
  border: none;
  box-shadow: none;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: rgba (255, 255, 255, 0.1);
}
